body{
	font-family: @font-family-sans-serif;
	background-color: #fff;
}

h4, h5{
	font-family: @font-family-sans-serif;
}

h5{
	color: #000;
	text-transform: uppercase;
	font-weight: 800;
}

.content ul{
	padding-left: 15px;
	font-size: @font-size-small;
	li{
		margin-bottom: 2px;
	}
}

.logged-in .navbar-fixed-top{
	top: 32px;
}

.logged-in .portfolio-fixed{
	top: 32px;
}

.services .content ul{
	margin-top: -8px;
}

ul.siblings{
	margin-top: 60px;
	list-style-type: none;
	padding-left: 0;
	font-size: @font-size-base;
	text-transform: uppercase;
	li.current_page_item a{
		color: @brand-primary;
	}
	li a{
		color: #000;
		&:hover{
			color: @brand-primary;
		}
	}
}


.contact textarea{
	resize: none;
	height: 140px;
}

.btn-close{
	img{
		width: 13px;	
	}
}

a:hover{
	text-decoration: none;
}

a:focus{
	outline: none;
}


.fa-caret-right{
	color: @brand-primary;
}

.cbp-bislideshow, .shadow{
		display: none;
}

.gallery-bipause{
	display: none;
}

.gallery-biprev, .gallery-binext{
	position: absolute;
	display: block;
	cursor: pointer;
	font-size: 56px;
	top:50%;
	margin-top: -30px;
	color: #fff;
	background: rgba(0, 0, 0, 0.70);
	line-height: 0;
	width: 49px;
	height: 49px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;	
}

.mobile-img{

	margin-top: -20px;
	margin-bottom: 10px;
}

.gallery-biprev{
	left: 0;
	background-image: url(../img/previous.png);
}
.gallery-binext{
	right: 0;
	background-image: url(../img/next.png);
}

.shadow{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 431px;
	z-index: -1;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
}

.white-bg{
	background: #fff;
	background: rgba(255, 255, 255, 0.85);
}

.black{
	background-color: #000;
}

.career h5{
	margin-bottom: 0;
	font-weight: bold;
	color: #000;
}


.background-boxer{
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.trigger-open{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.page-header{
	margin-top: 30px;
	border-bottom: none;
	border-bottom: none;
}

.breadcrumbs ul{
	font-family: @headings-font-family;
	text-transform: uppercase;
	margin-bottom: 30px;
	padding-left: 0;
    list-style:none;
    overflow:hidden;
    font-size: 14px;
    li{
    	float:left;	
    }
    
    li a{
    	color: @brand-primary;
    }

    .separator{
    	margin: 0 5px;
    }
}

.header-fixed{
	.breadcrumbs li:last-child{
    	color: #fff !important;
    }
}

.header-fixed h3{
	color: #fff;
}

.category .bg h4{
	.opacity(1);
	.transition(opacity 0.4s ease);
}

.category .category-title .bg h4{
	.opacity(1);
}

.portfolio-categories .col-md-3{
	.bg a:hover img{
		.opacity(0.5);
	}

	.bg a:hover h4{
		.opacity(1);
	}
}

.category-thumbs .blank{
	display: none;
}

.extra-pad{
	padding: 10px;

}

.home footer{
	display: none;
}

footer{
	background-color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	color: #fff;
	padding: 25px;
	position: relative;
}

.single-portfolio footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

// footer .bottom{
// 	background: #000;
// 	background-color: rgba(0, 0, 0, 0.5);
// 	position: fixed;
// 	bottom: 0px;
// 	left: 0;
// 	width: 100%;
// 	content: "";
// 	display: block;
// 	height: 5000px;
// 	z-index: -1;
// }

@media (min-width: @screen-sm-min)  {
	body{
		background-color: #000;
	}
	

	.extra-pad{
		padding: (@grid-gutter-width / 2);
	}

	.mobile-img{
		display: none;
	}

	.breadcrumbs{
		margin-bottom: 60px;
	}

	.cbp-bislideshow, .shadow, .gallery-biprev, .gallery-binext{
		display: block;
		position: fixed;
	}

	.wrap{
		padding-left: 0;
		padding-right: 0;
	}

}
@media (min-width: @screen-md-min)  {
	
	.wrap{
		width: @container-md;
		padding-left: (@grid-gutter-width / 2);
		padding-right: (@grid-gutter-width / 2);
	}

	header .container{
		width: 100%;
	}

	.page.fixed-col{
		padding-bottom: 50px;
	}

	.white-bg{
		//min-height: 800px;
	}
}
@media (min-width: @screen-lg-min)  {
	
	.wrap{
		width: @container-lg;
	}
    
}