body{
	font-family: @font-family-sans-serif;
}

.navbar-brand{
	max-width: 220px;
}

.content ul{
	padding-left: 20px;
	font-size: 12px;
}

ul.siblings{
	margin-top: 60px;
	list-style-type: none;
	padding-left: 0;
	font-size: 14px;
}

a:hover{
	text-decoration: none;
}




@media (min-width: @screen-sm-min)  {
	.logged-in .navbar-fixed-top{
		top: 32px;
	}

	.portfolio .navbar-toggle, .category .navbar-toggle{
		color: #484848;
	}
}
@media (min-width: @screen-md-min)  {
	

	.portfolio-fixed{
		position:fixed; 
		width:100%;
		left: 0;
		background: #fff;
		z-index: 1;
		border-bottom: 1px solid #d6d5d5;
	}
	
	.portfolio-categories .category-thumbs{
		margin-top: 150px;
	}

	.page-header{
		margin-top: (@line-height-computed * 1);
	}

	.portfolio-categories .page-header{
		margin-top: 20px;
		text-transform: uppercase;
		border-bottom: none;
	}

	.portfolio-categories .breadcrumbs{
		margin-bottom: 20px;
	}

	.portfolio-categories .portfolio-dropdown{
		width: 100%;
		button{
			width: 100%;
			text-align: left;
			border-radius: 0;
			border: none;
			background: @gray;
			padding: 10px 20px;
			.caret{
				margin-top: 8px;
			}
		}
		.dropdown-menu{
			width: 100%;
			margin-top: -1px;
			padding: 0;
			border-radius: 0;
			border: none;
			background: @gray-dark;
			font-size: 14px;
			a{
				color: #fff;
				text-transform: uppercase;
				padding: 5px 20px;
			}
			a:hover{
				background: @gray;
				color:#000;
			}
			
		}
	}

	.portfolio-categories .col-md-3{ 
		h4{
			position: absolute;
			bottom: 5px;
			left: @grid-gutter-width;
			color: #fff;
		}
		
		.bg{
			background: @brand-primary;
			img{
				.opacity(1);
				.transition(opacity 0.4s ease);
			}
		}
	}

	.portfolio-categories .col-md-3{
		.bg a:hover img{
			.opacity(0.5);
		}
	}

	.extra-pad{
		padding: (@grid-gutter-width / 2);
	}

	.breadcrumbs{
		font-family: @headings-font-family;
		text-transform: uppercase;
		margin-bottom: 80px;
	}

	.team-container{
		padding-right: 0;
		padding-left: 0;
	}
	.team-imgs .headshot{
		position: relative;
		background: @brand-primary;
		padding-left: 0;
		padding-right: 0;
		img{
			.opacity(1);
			.transition(opacity 0.4s ease);
		}
	}

	.team-imgs .name{
		color: #fff;
		z-index: 10;
		position: absolute;
		bottom: 5px;
		left: 10px;
		.opacity(0);
		.transition(opacity 0.4s ease);
		h4{
			margin:0;
		}
	}

	.team-imgs a:hover{
		.name{
			.opacity(1);
		}
		img{
			.opacity(0.5);
		}
	}

	.team-back{
		margin:20px 0;
		font-size: @font-size-h4;
	}

	.single-col:after{
		//.make-md-column(4);	
		width: 318px;
	}
	.team-col:after{
		//.make-sm-column(6);
	}
	.fixed-col:after{
		background: #fff;
		background: rgba(255, 255, 255, 0.85);
		position: fixed;
		top: 0;
		content: "";
		display: block;
		height: 5000px;
		z-index: -1;
		margin-left: (@grid-gutter-width / 2)* -1;
	}

	.page.fixed-col{
		padding-bottom: 50px;
	}

	.single-portfolio{
		background: rgba(255, 255, 255, 0.85);
	}

	.single-portfolio .breadcrumbs{
		margin-bottom: 0px;
	}

	.single-portfolio h3 small{
		cursor: pointer;
		font-size: 12px;
		padding: 7px 0;
		color:#000;
		i{
			padding: 1px 2px;
			text-align: center;
			background: @gray-dark;
			color: #fff;
		}
	}
	
	.single-portfolio{
		color: #000;
		a{
			color: #000;
		}
		a:hover{
			color: @brand-primary;
		}
	}
	.single-portfolio h5{
		color: #000;
		margin-bottom: 3px;
	}
	
	.single-portfolio .entry-content{
		display: none;
	}

	.single-portfolio .entry-content .dropdown{
		.opacity(0);
		.transition(opacity 2.0s ease);
	}
	
	.single-portfolio .entry-content .dropdown.fade-in{
		.opacity(1);
	}

	.portfolio-nav{
		position: fixed;
		top:50%;
		padding: 20px;
		color: #fff !important;
		font-size: 40px;
		background: rgba(0, 0, 0, 0.5);
	}
	
	.portfolio-prev{
		left: 0;
	}

	.portfolio-next{
		right: 0;
	}

	.navbar{
		min-height: 0;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	
	.navbar-toggle{
		color: #fff;
		border: none;
	}

	.dropdown-menu{
		min-width: 180px;
	}

	.dropdown-toggle b.caret{
		display: none;
	}

	.navbar-toggle{
		position: absolute;
		right: 0;
	}
	
	.home .navbar-brand{
		top: -100px;
		.opacity(0);
	}

	.navbar-brand{
		position: absolute;
		left: 0;
		padding-top: @navbar-padding-vertical - 3px;
	}

	.animate .navbar-brand{
		.opacity(1);
		top: 0px;
		.transition(opacity 2.0s ease);
		.transition(top 1.5s ease);
	}

	.experience{
		color: #fff;
		position: fixed;
		height: 30px;
		width: 220px;
		margin: -50px 0 0 -110px;
		bottom: -50px;
		left: 50%;
		border-top: 1px solid #fff;
	}

	.animate .experience{
		bottom: 5%;
		.transition(bottom 1.5s ease);
	}

	.logo {
		opacity: 0;
		position: fixed;
		width: 600px;
		height: 200px;
		margin: -50px 0 0 -300px;
		top: 50%;
		left: 50%;
	}

	.animate .logo{
		.opacity(1);
		.transition(opacity 1.5s ease);
	}

	.navbar .container{
		position: relative;
	}
	.navbar-default{
		background-color: #333;
		border-bottom: none;
		.navbar-toggle:hover{
			color: @brand-primary;
		}
		.navbar-toggle:hover, .navbar-toggle:focus{
			background-color: transparent;
		}
	}
	.navbar-header{
		height: 0;
		background: gray;
	}

	.navbar-collapse{
		position: relative;
		left: -100px;
		margin-top: -1px;
		border-top: none;
	}


	.nav > li{
		float: left;
	}
	.nav > li > a{
		display: inline-block;
		color: #777777;
	}
	.navbar-right{
		float: right !important;
	}

	.navbar-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		padding-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		left: 210px; 
		width: 210px; 
		margin-right: -210px;
	}
	
	.navbar-nav .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu > li > a{
		padding: 5px 15px 5px 13px !important;
		color: #777777;
	}


}
@media (min-width: @screen-lg-min)  {
	.single-col:after{
		width: 380px;
	}

	.team-col:after{
		width: 570px;
	}
    
}