body{
	font-family: @font-family-sans-serif;
}

@media (min-width: @screen-sm-min)  {}
@media (min-width: @screen-md-min)  {

	.logo {
			position: fixed;
			width: 600px;
			height: 200px;
			margin: -50px 0 0 -300px;
			top: 50%;
			left: 50%;
	}

	.navbar{
		min-height: 0;
		text-transform: uppercase;
	}
	
	.navbar-brand{
		max-width: 220px;
	}

	.navbar-toggle{
		color: #fff;
		border: none;
	}

	.dropdown-menu{
		min-width: 180px;
	}

	.navbar-toggle{
		position: absolute;
		right: 0;
	}
	
	.navbar-brand{
		position: absolute;
		left: 0;
	}

	.navbar .container{
		position: relative;
	}
	.navbar-default{
		background-color: #333;
		border-bottom: none;
	}
	.navbar-header{
		height: 0;
		background: gray;
	}

	.navbar-collapse{
		position: relative;
		left: -100px;
		//margin-top: -52px;
		border-top: none;
	}
	.nav > li{
		float: left;
	}
	.nav > li > a{
		display: inline-block;
		color: #777777;
	}
	.navbar-right{
		float: right !important;
	}

	.navbar-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		padding-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		left: 120px; 
		width: 120px; 
		margin-right: -120px;
	}

	.navbar-nav .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu > li > a{
		padding: 5px 15px 5px 13px !important;
		color: #777777;
	}


}
@media (min-width: @screen-lg-min)  {
    
}