html, body{
	height: 100%;
}

@sidenav-margin: 15px;

.top-nav{
	display: none;
}
.navbar-brand{
	max-width: 220px;
}

.hide-overflow{
	border-bottom: 1px solid @gray;
	padding-bottom: 20px;
}

.home .hide-overflow{
	border-bottom: none;
}

.side-nav .dropdown-menu, 
.top-nav .dropdown-menu
{
    position: static;
	float: none;
	width: auto;
	margin-top: 0;
	padding-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
	padding-bottom: 0;
	top:0;
} 
.side-nav .dropdown-menu:nth-of-type(1), 
.top-nav .dropdown-menu:nth-of-type(1)
{
    display: block;
} 

.dropdown-toggle b.caret{
	display: none;
}

.home .open-sidenav{
	color: #fff;
	&:hover{
		color: @brand-primary;
	}
}

.open-sidenav{
	z-index: 10;
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: @font-size-large;
	color: @brand-primary;
	&:hover{
		color: #fff;
	}
}

.side-nav
{
	height: 100%;
	text-align: right;
	z-index: 10;
	position: fixed;
	overflow: hidden;
	width: 100%;
	left: 100%;
	top: 0;
	background: @gray-darker;
	.transition(left 0.5s ease);
}


.side-nav a{
	.fa-close{
		color: #fff;
		display: block;
		font-size: @font-size-base*1.5;
		margin: 20px 25px 20px 0;
		&:hover{
			color: @brand-primary;
		}
	}
}

.open.side-nav{
	left: 0%;
}

.side-nav ul.slide{
	list-style-type: none;
	text-align: right;
	margin: 30px 50px 30px 0px;
}

.side-nav ul.slide li{
	margin-bottom: @sidenav-margin;
	a{
		font-size: (@font-size-large*1.8);
		text-transform: uppercase;
		color: #fff;
	}
	a:hover{
		color: @brand-primary;
	}
}

.side-nav a.dropdown-toggle{
	display: inline-block;
	margin-bottom: @sidenav-margin;
}

.side-nav ul.slide li.dropdown{
	margin-bottom: 0;
}

.side-nav ul.slide .dropdown-menu{
	position: relative;
	text-align: right;
	li{ 
		a{
			font-size: @font-size-base;
			padding: 3px 0px;
		}
	}

}


@media (min-width: @screen-sm-min)  {
	.navbar-brand{
		position: absolute;
		left: 0;
	}
	.hide-overflow{
		border: none;
	}

	.side-nav{
		width: 50%;
	}
	.open.side-nav{
		left: 50%;
	}
	.portfolio .top-nav,
	.category .top-nav{
		display: block;
	}

	// .portfolio .side-nav, 
	// .portfolio .open-sidenav,
	// .category .side-nav, 
	// .category .open-sidenav{
	// 	display: none;
	// }

	.top-nav .navbar{
		min-height: 0;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	
	.top-nav .navbar-toggle{
		color: #fff;
		border: none;
	}

	.portfolio .top-nav .navbar-toggle,
	.category .top-nav .navbar-toggle
	{
		color: @gray-dark;
		border: none;
		&:hover{
			color: @brand-primary;
		}
	}

	.top-nav .dropdown-menu{
		min-width: 180px;
	}

	.top-nav .navbar-toggle{
		position: absolute;
		right: 0;
	}
	
	.home .top-nav .navbar-brand{
		top: -100px;
		.opacity(0);
	}

	.top-nav .navbar-brand{
		position: absolute;
		left: 0;
		padding-top: @navbar-padding-vertical - 3px;
	}

	.portfolio .top-nav .navbar-default, .category .top-nav .navbar-default{
		z-index: 10;
	}
	
	.top-nav .navbar-default{
		z-index: 1;
		background-color: #333;
		border-bottom: none;
		.navbar-toggle:hover{
			color: @brand-primary;
		}
		.navbar-toggle:hover, .navbar-toggle:focus{
			background-color: transparent;
		}
	}
	.top-nav .navbar-header{
		height: 0;
		background: gray;
	}

	.top-nav .navbar-collapse{
		position: relative;
		left: -100px;
		margin-top: -1px;
		border-top: none;
	}


	.top-nav .nav > li{
		float: left;
	}
	.top-nav .nav > li > a{
		display: inline-block;
		color: #777777;
	}
	.top-nav .navbar-right{
		float: right !important;
	}

	.top-nav .navbar-nav .dropdown-menu {
		left: 210px; 
		width: 210px; 
		margin-right: -210px;
		margin-bottom: 10px;
	}
	
	.top-nav .navbar-nav .dropdown-menu > li > a, 
	.top-nav .navbar-nav .open .dropdown-menu > li > a{
		padding: 0px 15px 0px 13px !important;
	}
}

@media (min-width: @screen-md-min)  {
	.hide-overflow{
		display: none;
	}
	.side-nav, .open-sidenav{
		display: none;
	}
	.top-nav{
		display: block;
	}
	
	
	.top-nav .navbar{
		min-height: 0;
		text-transform: uppercase;
		margin-bottom: 0;
	}


	.top-nav .navbar-brand{
		position: absolute;
		left: 0;
		padding-top: @navbar-padding-vertical - 3px;
	}
	
	.home .top-nav .navbar-brand{
		top: -100px;
		.opacity(0);
	}

	

	.finish-animate .top-nav .navbar-brand{
		.opacity(1);
		top: 0px;
		.transition(opacity 2.0s ease);
		.transition(top 2.5s ease);
	}

		.navbar .container{
		letter-spacing: 0.5px;
		position: relative;
	}

	

}

@media (min-width: @screen-lg-min)  {}