.top-nav{
	display: none;
}
.navbar-brand{
	max-width: 220px;
}

html{height: 100%;}
body{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.side-nav
{
	z-index: 10;
	position: absolute;
	width: 50%;
	left: 100%;
	height: 100%;
	background: @gray-darker;
	.transition(left 1.0s ease);
}

.finish-animate .side-nav{
	left: 50%;
}


@media (min-width: @screen-sm-min)  {}

@media (min-width: @screen-md-min)  {
	.top-nav{
		display: block;
	}
	
	
	.top-nav .navbar{
		min-height: 0;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	
	.top-nav .navbar-toggle{
		color: #fff;
		border: none;
	}

	.top-nav .dropdown-menu{
		min-width: 180px;
	}

	.top-nav .dropdown-toggle b.caret{
		display: none;
	}

	.top-nav .navbar-toggle{
		position: absolute;
		right: 0;
	}
	
	.home .top-nav .navbar-brand{
		top: -100px;
		.opacity(0);
	}

	.top-nav .navbar-brand{
		position: absolute;
		left: 0;
		padding-top: @navbar-padding-vertical - 3px;
	}

	.finish-animate .top-nav .navbar-brand{
		.opacity(1);
		top: 0px;
		.transition(opacity 2.0s ease);
		.transition(top 2.5s ease);
	}

		.navbar .container{
		letter-spacing: 0.5px;
		position: relative;
	}

	.portfolio .top-nav .navbar-default, .category .top-nav .navbar-default{
		z-index: 10;
	}
	
	.top-nav .navbar-default{
		z-index: 1;
		background-color: #333;
		border-bottom: none;
		.navbar-toggle:hover{
			color: @brand-primary;
		}
		.navbar-toggle:hover, .navbar-toggle:focus{
			background-color: transparent;
		}
	}
	.top-nav .navbar-header{
		height: 0;
		background: gray;
	}

	.top-nav .navbar-collapse{
		position: relative;
		left: -100px;
		margin-top: -1px;
		border-top: none;
	}


	.top-nav .nav > li{
		float: left;
	}
	.top-nav .nav > li > a{
		display: inline-block;
		color: #777777;
	}
	.top-nav .navbar-right{
		float: right !important;
	}

	.top-nav .navbar-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		padding-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		left: 210px; 
		width: 210px; 
		margin-right: -210px;
		margin-bottom: 10px;
	}
	
	.top-nav .navbar-nav .dropdown-menu > li > a, .top-nav .navbar-nav .open .dropdown-menu > li > a{
		padding: 0px 15px 0px 13px !important;
		color: #fff !important;
	}

}

@media (min-width: @screen-lg-min)  {}