// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

@grid-float-breakpoint:     9999px;


// Brand colors
// -------------------------

@brand-primary:         #dc2e26;
@gray-dark: #646262;
@gray: #e4e4e4;

@dropdown-link-color: #fff;
@dropdown-link-hover-color: @brand-primary;
@dropdown-link-hover-bg: transparent;
@dropdown-link-active-bg: transparent;
@dropdown-link-active-color: @brand-primary;


@font-size-h5: ceil((@font-size-base * 1.08)); // ~18px

// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

@font-family-sans-serif: 'Roboto', sans-serif;
@headings-font-family: 'Montserrat', sans-serif;

@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-bg: transparent;
@navbar-default-link-active-color: @brand-primary;
@navbar-default-link-hover-color: @brand-primary;

@font-size-h4: ceil((@font-size-base * 1.2)); // ~18px